<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="p-8">
    <div class="pie-chart" ref="chartRoot">
    </div>
  </div>
</template>

<script setup>

import * as am5 from '@amcharts/amcharts5';
import * as am5xy from '@amcharts/amcharts5/xy';
import * as am5percent from '@amcharts/amcharts5/percent';
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated';
import {onMounted, onBeforeUnmount, ref} from 'vue'
import {defineProps, defineExpose} from "vue";

const props = defineProps({
  data: {}
})

const chartRoot = ref(null);

const getRoot = () => {
  return chartRoot;
}
defineExpose({
  getRoot
})
onMounted(() => {
  const root = am5.Root.new(chartRoot.value);
  root.setThemes([am5themes_Animated.new(root)]);

// Create chart
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
  const chart = root.container.children.push(am5percent.PieChart.new(root, {
    layout: root.verticalLayout,
    radius: am5.percent(60)
  }));

// Create series
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
  const series = chart.series.push(am5percent.PieSeries.new(root, {
    name: "Series",
    valueField: "value",
    categoryField: "category",
    legendLabelText: "{category}",
    legendValueText: "{value}"
  }));
  series.slices.template.set('tooltipText', '{category}: {value}');
  series.labels.template.set('text', '{category}');

  series.labels.template.maxWidth = 130;
  series.labels.template.wrap = true;
  series.labels.template.fontSize = 10;

// Set data
// https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
  series.data.setAll(props.data);

  const legend = chart.children.push(am5.Legend.new(root, {
    centerX: am5.percent(50),
    x: am5.percent(50),
    marginTop: 15,
    marginBottom: 15
  }));
  legend.markerRectangles.template.setAll({
    cornerRadiusTL: 10,
    cornerRadiusTR: 10,
    cornerRadiusBL: 10,
    cornerRadiusBR: 10
  });

  legend.data.setAll(series.dataItems);

  // Add cursor
  chart.set("cursor", am5xy.XYCursor.new(root, {}));

  chartRoot.value = root;
})

onBeforeUnmount( ()=> {
  if (chartRoot.value) {
    console.log('disposing pie chart');
    chartRoot.value.dispose();
  }
})

</script>
<style scoped>
.pie-chart {
  width: 100%;
  height: 500px;
}
</style>
