<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="p-8">
    <div class="bar-chart" ref="chartRoot">
    </div>
  </div>
</template>

<script setup>

import * as am5 from '@amcharts/amcharts5';
import * as am5xy from '@amcharts/amcharts5/xy';
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated';
import {onMounted, onBeforeUnmount, ref} from 'vue'
import {defineProps, defineExpose} from "vue";

const props = defineProps({
  data: {}
})

const chartRoot = ref(null);
const getRoot = () => {
  return chartRoot;
}
defineExpose({
  getRoot
})
onMounted(() => {
  let root = am5.Root.new(chartRoot.value);

  root.setThemes([am5themes_Animated.new(root)]);


  // Create chart
  // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
  const chart = root.container.children.push(am5xy.XYChart.new(root, {
    panX: false,
    panY: false,
    wheelX: "panX",
    wheelY: "zoomX",
    layout: root.verticalLayout
  }));

  // Add scrollbar
  // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
  chart.set("scrollbarX", am5.Scrollbar.new(root, {
    orientation: "horizontal"
  }));

  const data = props.data;

  // Create Y-axis
  const yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
    min: 0,
    renderer: am5xy.AxisRendererY.new(root, {})
  }));

  // Create X-Axis
  const xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
    categoryField: "month",
    renderer: am5xy.AxisRendererX.new(root, {}),
    tooltip: am5.Tooltip.new(root, {})
  }));

  xAxis.data.setAll(data.chartData);

  // Add legend
  // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
  const legend = chart.children.push(am5.Legend.new(root, {
    centerX: am5.p50,
    x: am5.p50
  }));


  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  function makeSeries(name, fieldName) {
    const series = chart.series.push(am5xy.ColumnSeries.new(root, {
      name: name,
      stacked: true,
      xAxis: xAxis,
      yAxis: yAxis,
      valueYField: fieldName,
      categoryXField: "month"
    }));

    series.columns.template.setAll({
      tooltipText: "{name}, {categoryX}: {valueY}",
      tooltipY: am5.percent(10)
    });
    series.data.setAll(data.chartData);

    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear();

    series.bullets.push(function () {
      return am5.Bullet.new(root, {
        sprite: am5.Label.new(root, {
          text: "{valueY}",
          fill: root.interfaceColors.get("alternativeText"),
          centerY: am5.p50,
          centerX: am5.p50,
          populateText: true
        })
      });
    });

    legend.data.push(series);
  }

  Object.keys(data.mappings).forEach(key => {
    makeSeries(data.mappings[key], key);
  })

  // Add cursor
  chart.set("cursor", am5xy.XYCursor.new(root, {}));

  chartRoot.value = root;
})

onBeforeUnmount(() => {
  if (chartRoot.value) {
    console.log('disposing bar chart');
    chartRoot.value.dispose();
  }
})

</script>
<style scoped>
.bar-chart {
  width: 100%;
  height: 500px;
}
</style>
