<template>
  <div>
    <div class="flex w-64 flex-col flex-1 h-full">
      <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            <img class="h-8 w-auto"
                 src="@/assets/logo.png" alt="Workflow"/>
          </div>
          <nav class="mt-5 flex-1 px-2 bg-white space-y-1">
            <router-link v-for="item in navigation" :key="item.name" :to="{name: item.name}"
                         exact-active-class="bg-gray-100 text-gray-900"
                         :class="['text-gray-600 hover:bg-gray-100 hover:text-gray-900', 'group flex items-center px-2 py-2 text-sm font-medium rounded-md']">
              <component :is="item.icon"
                         :class="['group-hover:text-gray-900', 'mr-3 flex-shrink-0 h-6 w-6']"
                         aria-hidden="true"/>
              {{ item.title }}
            </router-link>
          </nav>
        </div>
        <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
          <a href="#" class="flex-shrink-0 w-full group block">
            <div class="flex items-center">
              <CogIcon class="h-6 w-6" aria-hidden="true"/>
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                  Settings
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {ref} from 'vue'
import {Dialog, DialogOverlay, TransitionChild, TransitionRoot} from '@headlessui/vue'
import {
  MenuIcon,
  XIcon,
  SearchIcon,
  ViewListIcon,
  CogIcon
} from '@heroicons/vue/outline'

const navigation = [
  {title: 'New Search', name: 'sampleView', href: '/', icon: SearchIcon, current: true},
  {title: 'Searches', name: 'autoSuggest', href: '/autoSuggest', icon: ViewListIcon, current: false},
  {title: 'Dropdown Samples', name: 'dropdowns', href: '/dropdowns', icon: ViewListIcon, current: false},
  {title: 'Tabs Samples', name: 'tabs', href: '/tabs', icon: ViewListIcon, current: false},
  {title: 'Sample Page', name: 'fullWidthWithSidebar', href: '/fullWidthWithSidebar', icon: ViewListIcon, current: false},
  {title: 'Site Merics', name: 'siteMetrics', href: '/siteMetrics', icon: ViewListIcon, current: false},
]

export default {
  components: {
    Dialog,
    DialogOverlay,
    TransitionChild,
    TransitionRoot,
    MenuIcon,
    XIcon,
    CogIcon
  },
  setup() {
    const sidebarOpen = ref(false)

    return {
      navigation,
      sidebarOpen,
    }
  },
}
</script>
