html {
  --effervescent-blue-500: #00365C;
  --blue-chill-500: #145A8B;
  --san-marino-500: #437BA2;

  --limed-spruce-500: #405559;

  --maroon-500: #841000;
  --red-500: #FF0000;
  --pomegranate-500: #F43232;


  --boulder-500: #767676;
  --silver-chalice-500: #AAAAAA;
  --bombay-500: #ADB1B6;



  --white: #ffffff;
  --alabaster-500: #F8F8F8;
  --alto-500: #ddd;

  --black: #000000;
  --text-black: #111111;
  --backdrop-500: #363636;

  //  VUE3-DatePicker
  --vdp-heading-weight: 700;
  --vdp-selected-bg-color: #145A8B;
  --vdp-hover-bg-color: #437BA2;
}
