<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="p-8">
    <h3 class="text-lg leading-6 font-medium text-gray-900">{{  props.title  }}</h3>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-5">

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6 col-span-3">
        <StackedBarChart ref="barChart" :data="barChartData"></StackedBarChart>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6 col-span-2">
        <PieChart ref="pieChart" :data="pieChartData"></PieChart>
      </div>
    </dl>
  </div>
</template>

<script setup>
import StackedBarChart from "../charts/StackedBarChart";
import PieChart from "../charts/PieChart";
import { defineProps, onBeforeMount, ref, defineExpose} from "vue";

const props = defineProps({
  title: String,
  barData: null,
  pieData: null
})

const barChart = ref();
const pieChart = ref();

const getReportInfo = () => {
  const info = {
    title: props.title,
    barChartRoot: barChart.value.getRoot(),
    pieChartRoot: pieChart.value.getRoot()
  };

  return info;
}
defineExpose({
  getReportInfo
})

const pieChartData = ref([]);
const barChartData = ref([]);

onBeforeMount( () => {

  const normalizeBarChartData = () => {



    return props.barData;
  }

  const normalizePieChartData = () => {
    return props.pieData;
  }

  barChartData.value = normalizeBarChartData();
  pieChartData.value = normalizePieChartData();
})


</script>
