<template>
  <div class="md:pl-64 flex flex-col flex-1 h-screen overflow-hidden">
      <main class="flex-1 h-full">
        <div class="py-6 h-full">
          <div class="w-full flex justify-between mx-auto px-4 sm:px-6 md:px-8">
            <h1 class="text-2xl font-semibold text-gray-900">Site Metrics</h1>
            <button v-if="siteLoaded" type="button" @click="savePDF"
                    class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-indigo-500">
              Export to PDF
            </button>
          </div>
          <div class="w-full mx-auto px-4 sm:px-6 md:px-8 h-full">
            <!-- Replace with your content -->
            <div class="py-4 h-full">
              <div v-if="siteLoaded" class="border-4 border-dashed border-gray-200 rounded-lg h-full overflow-auto">

                <SiteEventsTable></SiteEventsTable>

                <SiteReport title="Report One" :barData="barDataOne" :pieData="pieOne" ref="reportOne"></SiteReport>

                <SiteReport title="Report Two" :barData="barDataTwo" :pieData="pieTwo" ref="reportTwo"></SiteReport>

                <SiteReport title="Report Three" :barData="barDataOne" :pieData="pieOne"></SiteReport>

                <SiteReport title="Report Four" :barData="barDataTwo" :pieData="pieTwo"></SiteReport>

                <SiteReport title="Report Five" :barData="barDataOne" :pieData="pieOne"></SiteReport>
              </div>
              <div class="border-4 border-dashed border-gray-200 py-32 px-6 rounded-lg h-full overflow-auto flex flex-col items-center">
                <p class="text-xl flex items-center">
                  <svg v-show="!siteLoaded" class="w-5 h-5  animate-spin" fill="none"
                       viewBox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                          fill="currentColor"></path>
                  </svg>
                  <b class="ml-3">Generating...</b>
                </p>
              </div>
            </div>
            <!-- /End replace -->
          </div>
        </div>
      </main>
    </div>
</template>
<script setup>
import { defineProps, onBeforeUnmount, ref } from 'vue'
import SiteEventsTable from "./SiteEventsTable";
import SiteReport from "./SiteReport";
import {Exporting, ExportingMenu} from '@amcharts/amcharts5/plugins/exporting';
import { metricsHelper } from "@/components/metrics/utils/metricsHelper";

const props = defineProps({
  selectedSite: null,
  selectedDateRange: null
})
console.log(props.selectedSite);
console.log(props.selectedDateRange);

const savePDF = () => {

  const buildReportSection = (doc, reportInfo, barImage, pieImage) => {
    doc.content.push({
      text: reportInfo.title,
      fontSize: 14,
      bold: true,
      margin: [0, 20, 0, 15]
    });
    doc.content.push({
      columns: [{
        image: barImage,
        width: 300
      }, {
        image: pieImage,
        width: 200
      }],
      columnGap: 30
    })
  }

  const reports = [
    reportOne.value.getReportInfo(),
    reportTwo.value.getReportInfo()
  ]
  // const reportOneInfo = reportOne.value.getReportInfo();
  // const reportTwoInfo = reportTwo.value.getReportInfo();

  const promises = [];
  reports.forEach(report => {
    const barExport = Exporting.new(report.barChartRoot.value, {
      menu: ExportingMenu.new(report.barChartRoot.value, {})
    });
    const pieExport = Exporting.new(report.pieChartRoot.value, {
      menu: ExportingMenu.new(report.pieChartRoot.value, {})
    })

    // only need to do this for the first object
    if (promises.length === 0) {
      promises.push(barExport.getPdfmake());
    }
    promises.push(barExport.export('png'));
    promises.push(pieExport.export('png'));
  })

  Promise.all(promises).then(function(res) {

    const pdfMake = res[0];

    // pdfmake is ready
    // Create document template
    const doc = {
      pageSize: "A4",
      pageOrientation: "portrait",
      pageMargins: [30, 30, 30, 30],
      content: []
    };

    doc.content.push({
      text: "Site Metrics Report",
      fontSize: 20,
      bold: true,
      margin: [0, 20, 0, 15]
    });

    doc.content.push({
      text: "Site Events",
      fontSize: 14,
      bold: true,
      margin: [0, 20, 0, 15]
    });

    doc.content.push({
      table: {
        headerRows: 1,
        widths: ["10%", "*"],
        body: [
          [
            {text: "Date", bold: true},
            {text: "Description", bold: true, style: 'description'}
          ],
          ["05-2022", "Site Installation One Two Three"],
          ["06-2022", "Another Site Installation One Two Three"],
        ]
      }
    });

    reports.forEach((report, idx) => {
      const index = idx * 2 + 1;
      buildReportSection(doc, report, res[index], res[index + 1]);
    })


    pdfMake.createPdf(doc).download("report.pdf");
  })
}

// flag to indicate if sites are generated
const siteLoaded = ref(false);

// report components
const reportOne = ref();
const reportTwo = ref();

const barDataOne = ref();
const pieOne = ref();
const barDataTwo = ref();
const pieTwo = ref();

setTimeout(() => {
  barDataOne.value = metricsHelper.generateReportOneBarData({});
  pieOne.value = metricsHelper.generateReportOnePieData({});

  barDataTwo.value = metricsHelper.generateReportTwoBarData({});
  pieTwo.value = metricsHelper.generateReportTwoPieData({});

  siteLoaded.value = true;
}, 3000)

onBeforeUnmount( () => {
  siteLoaded.value = false;
  console.log('un mounting');
})

</script>
<style scoped>
</style>
