<template>
  <div class="p-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-md">
      <ul role="list" class="divide-y divide-gray-200">
        <li v-for="position in positions" :key="position.id">
          <a href="#" class="block hover:bg-gray-50">
            <div class="px-4 py-4 sm:px-6">
              <div class="flex items-center text-gray-500">
                <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                  <LocationMarkerIcon class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" aria-hidden="true"/>
                  {{ position.location }}
                </p>
                <div class="ml-6 flex">
                  <p class="flex">
                    <CalendarIcon class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" aria-hidden="true"/>
                    <time :datetime="position.closeDate">{{ position.closeDateFull }}</time>
                  </p>
                </div>
              </div>
              <br/>
              <div class="mt-2 sm:flex sm:justify-between sm:ml-1">
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500">
                    {{ position.department }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import {CalendarIcon, LocationMarkerIcon} from '@heroicons/vue/solid'

const positions = [
  {
    id: 1,
    title: 'Back End Developer',
    type: 'Full-time',
    location: 'Remote',
    department: 'Engineering',
    closeDateFull: 'January 2020',
  },
  {
    id: 2,
    title: 'Front End Developer',
    type: 'Full-time',
    location: 'Remote',
    department: 'Engineering',
    closeDate: '2020-01-07',
    closeDateFull: 'January 2020',
  },
  {
    id: 3,
    title: 'User Interface Designer',
    type: 'Full-time',
    location: 'Remote',
    department: 'Design',
    closeDate: '2020-01-14',
    closeDateFull: 'January 2020',
  },
]
</script>
