<template>
  <main class="flex-1 py-6 h-full">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <h1 class="text-2xl font-semibold text-gray-900">Auto Complete (Country)</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <div class="flex justify-between border-4 border-dashed border-gray-200 rounded-lg p-4">
        <div class="flex flex-col">
          <div class="mt-1">
            <AutoComplete
                v-model="selectedCountry1"
                :suggestions="filteredCountries"
                @complete="searchCountry($event)"
                :autoHighlight="true"
                inputStyle="width: 300px"
                field="name" />
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import {ref, onMounted} from 'vue';
import CountryService from './CountryService';
import AutoComplete from 'primevue/autocomplete';

export default {
  components: {
    AutoComplete
  },
  setup() {
    onMounted(() => {
      countryService.value.getCountries().then(data => {
        countries.value = data
      });
    })

    const countries = ref();
    const countryService = ref(new CountryService());
    const selectedCountry1 = ref();

    const filteredCountries = ref();
    const selectedCountries = ref([]);

    const searchCountry = (event) => {
      setTimeout(() => {
        if (!event.query.trim().length) {
          filteredCountries.value = [...countries.value];
        } else {
          filteredCountries.value = countries.value.filter((country) => {
            return country.name.toLowerCase().startsWith(event.query.toLowerCase());
          });
        }
      }, 250);
    };

    return {
      countries,
      countryService,
      selectedCountry1,
      filteredCountries,
      selectedCountries,

      searchCountry,
    }
  }
}
</script>
<style>
.p-autocomplete-input {
  border: 1px solid rgb(107, 114, 128)
}
.p-autocomplete-panel {
  background-color: white;
  font-size: 16px;
}
.p-autocomplete-item {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.p-autocomplete-item:hover {
  background: #41b883;
  outline: none;
  color: #fff;
}
.p-highlight {
  background: #41b883;
  outline: none;
  color: #fff;
}
</style>
