<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <Modal
      :isOpen="isOpen"
      @closeModal="closeModal"
      height="calc(100vh - 100px)"
      width="calc(100vw - 100px)">

    <template v-slot:header>
      Settings
    </template>

    <template v-slot:body>
      <div class="flex justify-between sm:p-5 sm:pt-0">
        <label class="block sm:mt-px sm:pt-2">
          Dark Mode
        </label>
        <div class="mt-1 sm:mt-0">
          <Toggle
              :enabled="enabled"
              @updateValue="handleUpdateBoolean"
              label="Dark Mode"
          />
        </div>
      </div>
      <div class="flex justify-between sm:p-5 sm:pt-0">
        <label for="first-name" class="block sm:mt-px sm:pt-2">
          # of Search Results
        </label>
        <div class="mt-1 sm:mt-0 ">
          <input type="text" name="max_results" id="max_results" autocomplete="max_results"
                 class="text-right w-24 block  shadow-sm focus:ring-blue-primary focus:border-blue-400 sm:max-w-xs sm:text-sm border-gray-400 rounded-md"/>
        </div>
      </div>
    </template>

    <template v-slot:footer>
      <button type="button"
              class="mt-3 w-full inline-flex justify-center rounded-3xl border shadow-sm px-4 py-2 bg-green-400 font-medium text-white hover:text-white sm:mt-0 sm:w-auto"
              @click="handleSave">
        Save
      </button>
    </template>

  </Modal>
</template>

<script>
import {ref} from 'vue'
import Toggle from '@/components/core/form/Toggle'
import Modal from '@/components/core/modals/Modal'

export default {
  emits: ['closeModal'],
  components: {
    Modal,
    Toggle,
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {
    const enabled = ref(false)

    const handleUpdateBoolean = () => {
      enabled.value = !enabled.value
    }

    const closeModal = () => {
      context.emit('closeModal', false)
    }

    const handleSave = () => {
      console.log('handling save')
      closeModal()
    }

    return {
      props,
      closeModal,
      handleSave,
      handleUpdateBoolean,
      enabled,
    }
  }
}
</script>
