<template>
  <main class="flex-1 py-6 h-full">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <h1 class="text-2xl font-semibold text-gray-900">Search</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <div class="flex justify-between border-4 border-dashed border-gray-200 rounded-lg p-4">

        <div class="flex flex-col">

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">Date Picker</label>
            <DatePicker
                :data="datePickerDate"
                @updateValue="handleUpdateDatePickerDate"/>
          </div>

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">DateTime Picker</label>
            <DatePicker
                :data="dateTimePickerDate"
                :enableTimePicker="true"
                @updateValue="handleUpdateDateTimePickerDate"/>
          </div>

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">Date Range Picker</label>
            <DateRangePicker
                :data="dateRangePickerDate"
                @updateValue="handleUpdateDateRangePickerDate"/>
          </div>

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">Single Select</label>
            <MultiSelect
                :options="optionList"
                :defaultValue="singleSelect"
                @updateValue="handleUpdateSingleSelect"/>
          </div>

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">Multi Select</label>
            <MultiSelect
                :options="optionList"
                :isMulti="true"
                @updateValue="handleUpdateMultiSelect"></multiselect>
          </div>

          <div class="mt-1">
            <label class="block text-sm font-medium text-gray-700">Async Select</label>
            <AsyncSelect
                :options="subsetList"
                @getFilteredData="handleFilteredAsyncOptions"
                @updateValue="handleUpdateAsyncSelect"
                @fetchNextPage="handleFetchNextOptions"></AsyncSelect>
          </div>

          <div class="mt-1 flex">
            <div class="w-full max-w-md p-2 mx-auto bg-white rounded-2xl">
              <Disclosure v-slot="{ open }">
                <DisclosureButton
                    class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-blue-900 bg-blue-100 rounded-lg hover:bg-blue-200 focus:outline-none focus-visible:ring focus-visible:ring-blue-500 focus-visible:ring-opacity-75"
                >
                  <span>What is your refund policy?</span>
                  <ChevronUpIcon
                      :class="open ? 'transform rotate-180' : ''"
                      class="w-5 h-5 text-blue-500"
                  />
                </DisclosureButton>
                <DisclosurePanel class="px-4 pt-4 pb-2 text-sm text-gray-500">
                  If you're unhappy with your purchase for any reason, email us within
                  90 days and we'll refund you in full, no questions asked.
                </DisclosurePanel>
              </Disclosure>
              <Disclosure as="div" class="mt-2" v-slot="{ open }">
                <DisclosureButton
                    class="flex justify-between w-full px-4 py-2 text-sm font-medium text-left text-blue-900 bg-blue-100 rounded-lg hover:bg-blue-200 focus:outline-none focus-visible:ring focus-visible:ring-blue-500 focus-visible:ring-opacity-75"
                >
                  <span>Do you offer technical support?</span>
                  <ChevronUpIcon
                      :class="open ? 'transform rotate-180' : ''"
                      class="w-5 h-5 text-blue-500"
                  />
                </DisclosureButton>
                <DisclosurePanel class="px-4 pt-4 pb-2 text-sm text-gray-500">
                  No.
                </DisclosurePanel>
              </Disclosure>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <Toggle
              :enabled="isToggle"
              @updateValue="handleUpdateToggle">
            Toggle
          </Toggle>

          <br/>

          <Checkbox
              :enabled="isChecked"
              name="checkbox"
              label="Checkbox"
              @updateValue="handleUpdateCheckbox">
          </Checkbox>

          <Input
              class="w-56 mt-6"
              :data="input"
              placeholder="Example Input"
              @updateValue="handleUpdateInput"
          />


          <Textarea
              class="w-56 mt-6"
              :data="textarea"
              placeholder="Example Textarea"
              @updateValue="handleUpdateTextarea"
          />

          <br/>

          <RadioGroups
              :data="optionList"
              :defaultValue="radioGroups"
              @updateValue="handleUpdateRadioGroups">
          </RadioGroups>

        </div>

      </div>
      <Button @click="handleClickButton" class="m-4"> Test Button</Button>
      <SplitButton :data="optionList" @click="handleClickSplitButton" class="m-4"> Test Split Button</SplitButton>

    </div>

    <SampleModal :isOpen="isOpen" @closeModal="handleCloseModal"/>
    <Notification :isOpen="showNotification" @closeNotification="handleCloseNotification">
    </Notification>
  </main>
</template>

<script>
import {ref} from 'vue'
// import { addDays, format, setHours, setMinutes, setSeconds, setMilliseconds} from 'date-fns'

import Input from '@/components/core/form/Input'
import Textarea from '@/components/core/form/Textarea'
import Toggle from '@/components/core/form/Toggle'
import Checkbox from '@/components/core/form/Checkbox'
import RadioGroups from '@/components/core/form/RadioGroups'

import DatePicker from '@/components/core/pickers/DatePicker'
import DateRangePicker from '@/components/core/pickers/DateRangePicker'

import MultiSelect from '@/components/core/select/MultiSelect'
import AsyncSelect from '@/components/core/select/AsyncSelect'

import Button from '@/components/core/buttons/Button'
import SplitButton from '@/components/core/buttons/SplitButton'

import Notification from '@/components/core/modals/Notification'
import SampleModal from './SampleModal'
import {
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
} from '@headlessui/vue'
import { ChevronUpIcon } from '@heroicons/vue/solid'

const optionList = [
  {id: 'one', title: 'Option 1'},
  {id: 'two', title: 'Option 2'},
  {id: 'three', title: 'Option 3'},
]
const longOptionList = []

// const subsetList = []

export default {
  components: {
    Input,
    Textarea,
    Toggle,
    Checkbox,
    RadioGroups,
    DatePicker,
    DateRangePicker,
    MultiSelect,
    AsyncSelect,

    Button,
    SplitButton,

    SampleModal,
    Notification,

    Disclosure, DisclosureButton, DisclosurePanel, ChevronUpIcon
  },
  setup() {
    const currentIndex = ref(0);
    const input = ref('')
    const textarea = ref('')
    const isToggle = ref(true)
    const isChecked = ref(false)
    const radioGroups = ref('')

    const datePickerDateObj = new Date()
    const datePickerDate = ref(datePickerDateObj)
    const dateTimePickerDate = ref(datePickerDateObj)
    const endDate = new Date(new Date().setDate(datePickerDateObj.getDate() + 7));
    const dateRangePickerDate = ref([datePickerDateObj, endDate])

    const singleSelect = ref(null)
    const multiSelect = ref()
    const asyncSelect = ref()
    const subsetList = ref([])

    const isOpen = ref(false)
    const showNotification = ref(false)
    let tempOptionList = []
    for (let i = 0; i < 20000; i++) {
      longOptionList.push({
        id: 'option_' + i,
        title: 'Option ' + i
      })
    }
    tempOptionList.push(...longOptionList.slice(0, longOptionList.length))

    const getNextOptions = () => {
      subsetList.value.push(...tempOptionList.slice(currentIndex.value, currentIndex.value + 10))
      currentIndex.value += 10
    }

    const handleFilteredAsyncOptions = (query) => {
      tempOptionList = longOptionList.filter(x=> {
        if (x.title.indexOf(query) > -1) {
          return x;
        }
      })
      subsetList.value = []
      currentIndex.value = 0;
      getNextOptions()
    }

    getNextOptions()

    const handleUpdateInput = (value) => {
      input.value = value
    }
    const handleUpdateTextarea = (value) => {
      textarea.value = value
    }
    const handleUpdateToggle = () => {
      isToggle.value = !isToggle.value
    }
    const handleUpdateCheckbox = () => {
      isChecked.value = !isChecked.value
    }
    const handleUpdateRadioGroups = (value) => {
      radioGroups.value = value
    }
    const handleUpdateDatePickerDate = (value) => {
      datePickerDate.value = value
    }
    const handleUpdateDateTimePickerDate = (value) => {
      dateTimePickerDate.value = value
    }
    const handleUpdateDateRangePickerDate = (value) => {
      dateRangePickerDate.value = value
    }
    const handleUpdateSingleSelect = (value) => {
      singleSelect.value = value
    }
    const handleUpdateMultiSelect = (value) => {
      multiSelect.value = value
    }
    const handleUpdateAsyncSelect = (value) => {
      asyncSelect.value = value
    }
    const handleFetchNextOptions = () => {
      getNextOptions()
    }


    const handleClickButton = () => {
      console.log(isToggle.value)
      console.log(isChecked.value)
      console.log(input.value)
      console.log(textarea.value)
      console.log(radioGroups.value)
      console.log(datePickerDate.value)
      console.log(dateTimePickerDate.value)
      console.log(dateRangePickerDate.value[0], dateRangePickerDate.value[1])
      console.log(singleSelect.value)
      if (multiSelect.value && multiSelect.value.length > 0) {
        multiSelect.value.forEach(x => {
          console.log(x)
        })
      }
      console.log(asyncSelect.value)
    }

    const handleClickSplitButton = (event) => {
      const selected = event.srcElement.attributes['value'].value
      if (selected === 'parent') {
        isOpen.value = true
      } else if (selected === 'one') {
        showNotification.value = true
      } else {
        console.log(selected)
      }
    }

    const handleCloseModal = () => {
      isOpen.value = false
    }

    const handleCloseNotification = () => {
      showNotification.value = false
    }

    return {
      optionList,
      longOptionList,
      subsetList,

      input,
      textarea,
      isToggle,
      isChecked,
      radioGroups,
      datePickerDate,
      dateTimePickerDate,
      dateRangePickerDate,
      singleSelect,
      multiSelect,
      asyncSelect,

      isOpen,
      showNotification,

      handleUpdateInput,
      handleUpdateTextarea,
      handleUpdateToggle,
      handleUpdateCheckbox,
      handleUpdateRadioGroups,
      handleUpdateDatePickerDate,
      handleUpdateDateTimePickerDate,
      handleUpdateDateRangePickerDate,
      handleUpdateSingleSelect,
      handleUpdateMultiSelect,

      handleFilteredAsyncOptions,
      handleUpdateAsyncSelect,
      handleFetchNextOptions,

      handleClickButton,
      handleClickSplitButton,

      handleCloseModal,
      handleCloseNotification,
    }
  }
}
</script>

<style>

</style>
