<template>
  <button :class="`text-${props.textColor} text-lg size-${props.size} bg-${props.bgColor} border-${props.borderColor}`">
    <slot/>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    textColor: {
      type: String,
      default: 'black'
    },
    bgColor: {
      type: String,
      default: 'blue-400'
    },
    borderColor: {
      type: String,
      default: 'blue-400'
    },
    size: {
      type: String,
      default: 'sm'
    }
  },
  setup(props) {
    return {
      props
    }
  }
}
</script>

<style scoped lang="scss">
.size-sm{
  min-height: 40px;
}
</style>
