<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <span class="relative z-0 inline-flex shadow-sm rounded-md">
    <button
        type="button"
        value="parent"
        :class="`relative inline-flex items-center px-4 py-2 rounded-l-md border border-${borderColor} bg-${bgColor} text-sm font-medium text-${textColor} hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500`">
      <slot/>
    </button>
    <Menu as="span" class="-ml-px relative block">
      <MenuButton :class="`relative inline-flex items-center px-2 py-2 rounded-r-md border bg-${bgColor} border-${borderColor}  text-sm font-medium text-${textColor} hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500`">
        <ChevronDownIcon class="h-5 w-5" aria-hidden="true" />
      </MenuButton>
      <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
        <MenuItems :class="`origin-top-right absolute right-0 mt-2 -mr-1 w-56 rounded-md shadow-lg bg-${bgColor} ring-1 ring-black ring-opacity-5 focus:outline-none`">
          <div class="py-1">
            <MenuItem v-for="item in props.data" :key="item.id" v-slot="{ active }">
              <div :value='item.id' :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">
                {{ item.title }}
              </div>
            </MenuItem>
          </div>
        </MenuItems>
      </transition>
    </Menu>
  </span>
</template>

<script>
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { ChevronDownIcon } from '@heroicons/vue/solid'

export default {
  name: 'SplitButton',
  components: {
    Menu,
    MenuButton,
    MenuItem,
    MenuItems,
    ChevronDownIcon,
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    textColor: {
      type: String,
      default: 'gray-700'
    },
    bgColor: {
      type: String,
      default: 'white'
    },
    borderColor: {
      type: String,
      default: 'gray-300'
    },
    size: {
      type: String,
      default: 'sm'
    }
  },
  setup(props) {
    return {
      props,
    }
  },
}
</script>
