<template>
  <VueMultiselect
      v-model="selectData"
      track-by="id"
      label="title"
      class="rounded border-gray-400 "
      :clear-on-select="false"
      :loading="isLoading"
      :options="props.options"
      :multiple="props.isMulti"
      :internal-search="false"
      @search-change="getData"
      :show-labels="false">

    <template v-slot:afterList>
      <div v-observe-visibility="reachedEndOfList" v-if="hasNextPage" />
    </template>

  </VueMultiselect>
</template>

<script>
import {ref, watch} from 'vue'
import VueMultiselect from 'vue-multiselect'
import "vue-multiselect/dist/vue-multiselect.css"
// import _ from "lodash";

export default {
  name: 'Select',
  components: {VueMultiselect},
  props: {
    options: {
      type: Array,
      required: true
    },
    isMulti: {
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {

    const selectData = ref([])
    const isLoading = ref(false)
    const hasNextPage = ref(true)

    watch(() => [selectData.value], () => {
      handleChangeValue(selectData.value)
    })

    // watch([props.options], ()=>{
    //   console.log("changed2", props.options)
    // },{ deep: true })

    const handleChangeValue = (data) => {
      context.emit('updateValue', data)
    }
    const reachedEndOfList = (reached) => {
      if (reached) {
        context.emit('fetchNextPage')
        // this.fetchNextPage()
      }
    }

    const getData = (query) => {
      context.emit('getFilteredData', query)
    }

    return {
      props,
      isLoading,
      hasNextPage,
      selectData,
      getData,
      reachedEndOfList,
      handleChangeValue
    }
  }
}
</script>
<style>
.multiselect {
  border: 2px solid var(--silver-chalice-500);
  box-sizing: inherit;
}
.multiselect__placeholder {
  margin-bottom: 7px;
  padding-top: 0;
}
.multiselect__input:focus {
  --tw-ring-color: unset;
  border-color: unset;
  box-shadow: unset;
}
.multiselect--above .multiselect__content-wrapper {
  border-width: 2px;
  border-color: var(--silver-chalice-500)
}
</style>
