<template>
    <VueMultiselect
        v-model="selectData"
        track-by="id"
        label="title"
        class="rounded border-gray-400 "
        :options="props.options"
        :multiple="props.isMulti"
        :searchable="true"
        :show-labels="false">

    </VueMultiselect>
</template>

<script>
import {ref, watch} from 'vue'
import VueMultiselect from 'vue-multiselect'
import "vue-multiselect/dist/vue-multiselect.css"

export default {
  name: 'Select',
  components: {VueMultiselect},
  props: {
    options: {
      type: Array,
      default: function() {
        return []
      }
    },
    value: {},
    isMulti: {
      type: Boolean,
      default: false
    }
  },
  setup(props, context) {
    const selectData = ref(props.value)

    watch(() => [selectData.value], () => {
      handleChangeValue(selectData.value)
    })
    watch(() => [props.options], () => {
      if (props.options !== selectData.value) {
        selectData.value = props.options
      }
    })
    const handleChangeValue = (data) => {
      context.emit('updateValue', data)
    }

    return {
      props,
      selectData,
      handleChangeValue
    }
  }
}
</script>
<style>
.multiselect {
  border: 2px solid var(--silver-chalice-500);
  box-sizing: inherit;
}
.multiselect__placeholder {
  margin-bottom: 7px;
  padding-top: 0;
}
.multiselect__input:focus {
  --tw-ring-color: unset;
  border-color: unset;
  box-shadow: unset;
}
.multiselect--above .multiselect__content-wrapper {
  border-width: 2px;
  border-color: var(--silver-chalice-500)
}
</style>
