<template>
  <div class="relative flex items-start">
    <div v-if="leftLabel" class="mr-3 text-sm">
      <label for="props.name"
             :class="[
                 props.disabled ? 'text-gray-400': `font-medium text-{props.textColor}`
              ]">
        {{ props.label }}
      </label>
    </div>
    <div class="flex items-center h-5">
      <input
          id="props.name"
          name="props.name"
          type="checkbox"
          class="focus:ring-indigo-500 h-4 w-4 background-red-400 text-{props.textColor} border-{props.borderColor} rounded"
          :disabled="props.disabled"
          @input="handleChangeValue"
      />
    </div>
    <div v-if="!leftLabel" class="ml-3 text-sm">
      <label for="props.name"
             :class="[
                 props.disabled ? 'text-gray-400': `font-medium text-{props.textColor}`
              ]">
        {{ props.label }}
      </label>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Checkbox',
  props: {
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    borderColor: {
      type: String,
      default: 'red-400'
    },
    leftLabel: {
      type: Boolean,
      default: false
    },
    textColor: {
      type: String,
      default: 'red-700'
    },
    size: {
      type: String,
      default: 'sm'
    },
    weight: {
      type: String,
      default: 'medium'
    }
  },
  setup(props, context) {
    const handleChangeValue = () => {
      context.emit('updateValue')
    }
    return {
      props,
      handleChangeValue
    }
  }
}
</script>
