<template>
  <input
      :value="props.data"
      :id="props.label"
      :type="props.type"
      class=""
      :placeholder="props.placeholder"
      @input="handleChangeValue"
  />
</template>

<script>
export default {
  name: 'Input',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    data: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    }
  },
  setup(props, context) {
    const handleChangeValue = (event) => {
      context.emit('updateValue', event.target.value)
    }
    return {
      props,
      handleChangeValue
    }
  }
}
</script>

<style scoped>

</style>
