<template>
  <div>
    <label class="text-base font-medium text-gray-900">Radio Groups</label>
    <p class="text-sm leading-5 text-gray-500">Optional comments</p>
    <fieldset class="mt-4">
      <div class="space-y-4">
        <div v-for="option in props.data" :key="option.id" class="flex items-center">
          <input
              :id="option.id"
              name="notification-method"
              type="radio"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
              :value="option.id"
              :checked="option.id === props.defaultValue"
              @input="handleChangeValue"/>
          <label :for="option.id" class="ml-3 block text-sm font-medium text-gray-700">
            {{ option.title }}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</template>

<script>
export default {
  name: 'RadioGroups',
  props: {
    enabled: {
      type: Boolean,
      default: true
    },
    defaultValue: {
      type: String,
      default: 'default'
    },
    data: {
      type: Array,
      required: true
    },
  },
  setup(props, context) {
    const handleChangeValue = (event) => {
      context.emit('updateValue', event.target.value)
    }
    return {
      props,
      handleChangeValue
    }
  },
}
</script>
