<template>
  <div>
      <textarea
          :value="props.data"
          @input="handleUpdateData"
          class=""
          :class="`w-${props.width} h-${props.height} max-h-${props.maxHeight} min-h-${props.minHeight}`"
          :placeholder="props.placeholder"/>
  </div>
</template>

<script>
export default {
  name: 'Textarea',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    data: {
      type: String,
      default: ''
    },
    error: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: 'full'
    },
    height: {
      type: String,
      default: '32'
    },
    maxHeight: {
      type: String,
      default: '96'
    },
    minHeight: {
      type: String,
      default: '16'
    }
  },
  setup(props, context) {
    const handleUpdateData = (event) => {
      context.emit('updateValue', event.target.value)
    }
    return {
      props,
      handleUpdateData
    }
  }
}
</script>

<style scoped>

</style>
