<template>
  <SwitchGroup as="div" class="flex items-center">
    <SwitchLabel
        v-if="leftLabel"
        :class="[
              props.enabled ? `text-${props.textColor}` : `text-gray-400`,
              `text-${props.size} font-${props.weight}`
            ]"
        as="span"
        class="mr-3 cursor-pointer">
      <slot />
    </SwitchLabel>
    <Switch :value="props.enabled"
            @click="handleChangeValue"
            :class="[props.enabled ? 'bg-blue-400 border-blue-400' : 'bg-white border-gray-400', 'relative inline-flex flex-shrink-0 h-6 w-12 border-2   rounded-full cursor-pointer transition-colors ease-in-out duration-200']">
                    <span aria-hidden="true"
                          :class="[props.enabled ? 'translate-x-6 bg-white' : 'translate-x-0 bg-gray-400', 'inline-block h-3 w-3 mt-1 ml-1 rounded-full  shadow transform ring-0 transition ease-in-out duration-200']"/>
    </Switch>
    <SwitchLabel
        v-if="!leftLabel"
        :class="[
              props.enabled ? `text-${props.textColor}` : `text-gray-400`,
              `text-${props.size} font-${props.weight}`
            ]"
        as="span"
        class="ml-3 cursor-pointer">
      <slot />
    </SwitchLabel>
  </SwitchGroup>


</template>

<script>
import { Switch, SwitchGroup, SwitchLabel } from '@headlessui/vue'

export default {
  name: 'Toggle',
  components: {
    Switch,
    SwitchGroup,
    SwitchLabel,
  },
  props: {
    enabled: {
      type: Boolean,
      default: true
    },
    leftLabel: {
      type: Boolean,
      default: false
    },
    textColor: {
      type: String,
      default: 'gray-700'
    },
    size: {
      type: String,
      default: 'sm'
    },
    weight: {
      type: String,
      default: 'medium'
    }
  },
  setup(props, context) {
    const handleChangeValue = () => {
      context.emit('updateValue')
    }
    return {
      props,
      handleChangeValue
    }
  }
}
</script>
