<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" class="fixed z-10 inset-0 overflow-y-auto" @close="closeModal">
      <div class="flex justify-center min-h-screen text-center sm:block">
        <DialogOverlay class="fixed inset-0 bg-gray-600 opacity-50 transition-opacity"/>

        <!-- This el elment is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <TransitionChild as="template" enter="ease-out duration-300"
                         enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                         enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
                         leave-from="opacity-100 translate-y-0 sm:scale-100"
                         leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
          <div
              class="inline-block align-bottom bg-white text-left overflow-hidden shadow-xl transform transition-all sm:mt-8 sm:mb-32 sm:align-middle sm:max-w-lg sm:w-full">
            <div v-if="!hideClose" class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
              <button type="button"
                      class="text-gray-secondary hover:text-black-secondary"
                      @click="closeModal">
                <span class="sr-only">Close</span>
                <XIcon class="h-5 w-5" aria-hidden="true"/>
              </button>
            </div>
            <div class="sm:flex ">
              <div class="flex-grow">
                <DialogTitle v-if="!hideHeader"  as="h3"
                             class="p-6 text-xl leading-6 font-roboto font-bold uppercase border-b border-white-tertiary">
                  <slot name="header"></slot>
                </DialogTitle>
                <div class="p-6">
                  <slot name="body"></slot>
                </div>
              </div>
            </div>
            <div class="py-4 pr-6 flex flex-row-reverse border-t border-white-tertiary">
              <slot name="footer"></slot>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script>
import {
  Dialog,
  DialogOverlay,
  DialogTitle,
  TransitionChild,
  TransitionRoot
} from '@headlessui/vue'
import {XIcon} from '@heroicons/vue/outline'

export default {
  emits: ['closeModal'],
  components: {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
    XIcon
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    hideFooter: {
      type: Boolean,
      default: false
    },
    hideHeader: {
      type: Boolean,
      default: false
    },
    hideClose: {
      type: Boolean,
      default: false
    },
  },
  setup(props, context) {
    const closeModal = () => {
      context.emit('closeModal', false)
    }
    return {
      closeModal,
      props
    }
  }
}
</script>
