<template>
  <div>
    <Datepicker
        v-model="date"
        range
        closeOnScroll
        twoCalendars twoCalendarsSolo

        :enableTimePicker="props.enableTimePicker"
        :clearable="clearable"
        :autoApply="autoApply"
        :format="datePickerFormat"
        :class="`w-${props.width}`"
    >
    </Datepicker>
  </div>
</template>
<script>
import {ref, watch} from 'vue'
import { format } from 'date-fns'
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default {
  name: 'DateRangePicker',
  components: {
    Datepicker
  },
  props: {
    data: Object,
    label: {
      type: String,
      default: ''
    },
    clearable: {
      type: Boolean,
      default: false
    },
    autoApply: {
      type: Boolean,
      default: true
    },
    enableTimePicker: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: '60'
    }
  },
  setup(props, context) {

    const date = ref(props.data)
    const datePickerFormat = (date) => {
      if (props.enableTimePicker) {
        const start = format(date[0], 'yyyy-MM-dd HH:mm')
        const end = format(date[1], 'yyyy-MM-dd HH:mm')
        return start + ' TO ' + end
      }
      const start = format(date[0], 'yyyy-MM-dd')
      const end = format(date[1], 'yyyy-MM-dd')
      return start + ' TO ' + end
    }
    watch(() => [date.value], () => {
      context.emit('updateValue', date.value)
    })
    watch(() => [props.data], () => {
      if (props.data !== date.value) {
        date.value = props.data
      }
    })
    return {
      date,
      datePickerFormat,
      props
    }
  }
}
</script>
<style lang="scss">
.dp__calendar_wrapper {
  font-family: poppins;
}

.dp__month_year_row {
  font-weight: 700;
  color: var(--effervescent-blue-500)
}

.dp__active_date, .dp__range_start, .dp__range_end {
  background: var(--blue-chill-500);
  color: var(--white);
}

.db__calendar_header {
  color: var(--effervescent-blue-500)
}

.dp__input_wrap > .dp__input {
  border: 2px solid var(--silver-chalice-500);
}

.dp__input_icons {
  color: var(--silver-chalice-500);
}
</style>
