<template>
  <div>
    <div class="flex w-screen h-screen bg-gray-100" id="base-layout">
      <SideNavBar />
      <div class="w-full">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import SideNavBar from "./components/SideNavBar";

export default {
  name: "Layout",
  components: {
    SideNavBar,
  },
  setup() {
    return {}
  }
}
</script>
