<template>
  <div>
    <!-- Static sidebar for desktop -->
    <div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            SITE METRICS
          </div>
          <hr/>
          <nav class="mt-5 flex-1 px-2 bg-white space-y-1">
            <div class="mt-1">
              <label class="block text-sm font-medium text-gray-700">Site</label>
              <MultiSelect
                  :options="siteOptionList"
                  @updateValue="handleUpdateSite"/>
            </div>
            <div class="pt-4">
              <label class="block text-sm font-medium text-gray-700">Date Range</label>
              <MultiSelect
                  :value="selectedDateRange"
                  :options="dateRangeOptionList"
                  @updateValue="handleUpdateRange"/>
            </div>
            <div class="pt-8">
              <button v-if="selectedSite === null" type="button"
                      class="inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-300 rounded focus:outline-none w-full"
                      disabled>Generate Metrics
              </button>
              <button v-else @click="generateMetrics" type="button"
                      class="inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 xl:w-full">
                Generate Metrics
              </button>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div v-if="siteGenerated">
      <SiteMetricsReport :key="reports_reload" :selectedSite="selectedSite" :selectedDateRange="selectedDateRange"></SiteMetricsReport>
    </div>
    <div v-else>
      <div class="md:pl-64 flex flex-col flex-1 h-screen overflow-hidden">
        <main class="flex-1 h-full">
          <div class="py-6 h-full">
            <div class="w-full flex justify-between mx-auto px-4 sm:px-6 md:px-8">
              <h1 class="text-2xl font-semibold text-gray-900">Site Metrics</h1>
            </div>
            <div class="w-full mx-auto px-4 sm:px-6 md:px-8 h-full">
              <div class="py-4 h-full">
                <div class="border-4 border-dashed border-gray-200 py-32 px-6 rounded-lg h-full overflow-auto flex flex-col items-center">
                  <p class="text-xl">Please select a <b>site</b> and click on <b>Generate Metrics</b>.</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>
<script setup>
import {ref} from 'vue'

import SiteMetricsReport from "./reports/SiteMetricsReport";
import MultiSelect from '@/components/core/select/MultiSelect'

const reports_reload = ref(0);

//Date Range Options Related
const dateRangeOptionList = [
  {id: 'three', title: 'Last 3 Months'},
  {id: 'six', title: 'Last 6 Months'},
  {id: 'nine', title: 'Last 9 Months'},
  {id: 'twelve', title: 'Last 12 Months'},
]
const selectedDateRange = ref({id: 'six', title: 'Last 6 Months'});
const handleUpdateRange = (value) => {
  selectedDateRange.value = value;
}

// Site Options Related
const siteOptionList = [
  {id: 'siteA', title: 'Site A'},
  {id: 'siteB', title: 'Site B'},
  {id: 'siteC', title: 'Site C'},
]
const selectedSite = ref(null);
const handleUpdateSite = (value) => {
  selectedSite.value = value;
}

// generate Site Metrics Report
const siteGenerated = ref(false);

const generateMetrics = () => {
  reports_reload.value++;
  siteGenerated.value = true;
}

</script>
<style scoped>
</style>
